<nav class="nav menu-background" id="mainNav" role="navigation" style="z-index: 999">
	<div class=" nav-wrapper container parent-hover">
		<a id="logo-container" href="#" class="brand-logo second-color title-font relative " >
			<check if="{{ @siteOptions['params']['siteLogo'] }}">
				<img style="height: 59px; width: auto; margin-right: 20px; vertical-align: middle; padding: 0 0 5px 0"  src="{{@siteOptions['params']['siteLogo']}}" alt="">
			</check>
			<check if="{{ @siteOptions['params']['titleSize'] === 'small' }}">
				<span id="siteTitle" style="font-size: 0.9em !important; vertical-align: middle" class="{{@isAdminPage? 'goToEditParams' : ''}}">{{ @siteOptions['params']['title'] |raw }}</span>
			</check>
			<check if="{{ @siteOptions['params']['titleSize'] === 'medium' }}">
				<span id="siteTitle" style="font-size: 1.2em !important;vertical-align: middle" class="{{@isAdminPage? 'goToEditParams' : ''}}">{{ @siteOptions['params']['title']  |raw }}</span>
			</check>
			<check if="{{ @siteOptions['params']['titleSize'] === 'large' }}">
				<span id="siteTitle" style="font-size: 1.6em !important;vertical-align: middle" class="{{@isAdminPage? 'goToEditParams' : ''}}">{{ @siteOptions['params']['title']  |raw }}</span>
			</check>
			<check if="{{ @isAdmin && @isAdminPage }}">
				<a  href="#!" class="btn-floating waves-effect waves-light frama-orange hover-frama-purple absolute tooltipped children-hover goToEditParams"   data-position="bottom"
					data-delay="350" data-tooltip="Editer le titre" style="top: 0px; left: -50px; " >
					<i style=" top: -10px;height: 40px; vertical-align: middle" class="material-icons relative">edit</i>
				</a>

			</check>

		</a>

		<ul class="right hide-on-med-and-down" style="max-width : 70%; max-height: 60px; overflow: hidden !important; padding-left: 30px !important; margin-left: -30px !important;">
			<check if="{{ @siteOptions['params']['isPublished'] || @isAdminPage}}">
				<repeat group="{{ @siteStructure }}" value="{{ @section }}">
					<check if="{{ @section['inMenuAs'] }}">
						<li class="relative ">
							<a href="#{{@section['id']}}" class="second-color main-font" style="font-size: larger">{{@section['inMenuAs']}}</a>
							<check if="{{ @isAdmin && @isAdminPage }}">
								<a  href="#!" class="btn-floating waves-effect waves-light frama-orange hover-frama-purple absolute tooltipped show-on-li-hover editMenuLabel"   data-position="right"
									data-delay="350" data-tooltip="Modifier" style="top: 3px; left: -20px; z-index: 1500 !important;" id="editMenuLabel-{{@section['id']}}-{{@section['inMenuAs']}}"><i class="material-icons">edit</i></a>
								<a  href="{{'/admin/edit/remove_from_menu?id='. @section['id'].'&CSRFToken='.@CSRFToken}}" class="btn-floating waves-effect waves-light frama-orange hover-frama-purple absolute tooltipped show-on-li-hover "   data-position="right"
									data-delay="350" data-tooltip="Retirer du menu"  style="top: 3px;left: 23px ;z-index: 1500 !important;" ><i class="material-icons">delete</i></a>

							</check>
						</li>
					</check>
				</repeat>
			</check>

		</ul>
		<repeat group="{{ @siteStructure }}" value="{{ @section }}">
			<check if="{{ @section['inMenuAs'] }}">
				<set showNavbarMenu="true" />
			</check>
		</repeat>
		<check if="{{ @showNavbarMenu }}">
			<a href="#" data-activates="mobileNav" class="button-collapse no-margin"><i class="material-icons second-color">menu</i></a>
			<ul class="side-nav menu-background" id="mobileNav" style=" margin-top: 56px" id="mobileNav">
				<check if="{{ @siteOptions['params']['isPublished'] || @isAdminPage}}">
					<repeat group="{{ @siteStructure }}" value="{{ @section }}">
						<check if="{{ @section['inMenuAs'] }}">
							<li class="relative " style="margin-top: -10px">
								<a href="#{{@section['id']}}" class="second-color main-font navItems" style="font-size: larger">{{@section['inMenuAs']}}</a>
							</li>
						</check>
					</repeat>
				</check>

			</ul>
		</check>


	</div>
</nav>
