<div class="main-background relative module" style="overflow: hidden">
	<check if="{{ @isAdminPage }}">
		<div class="row infoModule no-margin">
			<p class=" white-text no-margin relative center-align"
			   style="font-size: small;">
				<i>Seuls les boutons dont vous avez rempli le formulaire seront visibles de vos visiteurs</i>
			</p>
		</div>
	</check>
	<div class="container  ">

		<div class="section relative" style="padding-top: 40px !important;padding-bottom: 40px !important; z-index: 10">
			<div class="row">

				<div class="col s12  main-color title-font editable center-align" id="moduleValue-text" style=" margin-bottom: 25px !important; font-size: 100%">
					{{@fields['title']['value'] | raw}}
				</div>

			</div>
			<div class="row center-align  no-padding socialMediaContainer">
				<repeat group="{{ ['facebook', 'twitter', 'linkedin', 'mastodon', 'youtube','discord', 'instagram', 'diaspora'] }}" value="{{ @socialMediaName }}">
					<check if="{{@fields[@socialMediaName]['value'] || @isAdminPage }}">
						<div class="socialMedia no-margin relative">

							<check if="{{ @isAdminPage }}">
								<a class="btn-floating waves-effect waves-light lightButton absolute tooltipped moduleBtn modal-trigger editSocialMediaBtn" href="#editSocialMediaModal-{{@id}}" data-position="top"
								   data-delay="250" data-tooltip="Ajouter un lien vers votre compte {{@socialMediaName}}" id="editSocialMediaBtn~{{@socialMediaName}}~{{@fields[@socialMediaName]['value']}}~{{@id}}" style=" right: 0px; top: -30px; z-index: 1000">
									<i class="material-icons">settings</i></a>

									<a class="{{@fields[@socialMediaName]['value']? '' : 'displaynone'}} btn-floating waves-effect waves-light lightButton absolute tooltipped moduleBtn removeSocialMediaBtn" data-position="top"
									   data-delay="250" data-tooltip="Retirer le lien vers votre compte {{@socialMediaName}}" id="removeSocialMediaBtn~{{@socialMediaName}}~{{@fields[@socialMediaName]['value']}}~{{@id}}" style=" right: 50px; top: -30px; z-index: 1000">
										<i class="material-icons">delete</i></a>


							</check>

							<a target="_blank" class=" main-background waves-effect waves-light center-align" id="socialBtn-{{@socialMediaName}}-{{@id}}" href="{{@fields[@socialMediaName]['value']}}">
								<img src="app/views/modules/social_media/{{@socialMediaName}}.png" alt="{{@socialMediaName}}" class="responsive-img tooltipped" style="margin: 0"
									 data-position="top"
									 data-delay="250" data-tooltip="{{@socialMediaName}}" >
								<check if="{{ @isAdminPage }}">
									<p class="main-color main-font no-margin no-padding" id="socialMediaLabel-{{@id}}-{{@socialMediaName}}">
										<check if="{{@fields[@socialMediaName]['value']}}">
											{{@socialMediaName}}
										</check>
									</p>
								</check>
							</a>


						</div>
					</check>
				</repeat>


			</div>
		</div>
	</div>
</div>
<check if="{{ @isAdminPage }}">
	<div id="editSocialMediaModal-{{@id}}" class="editSocialMediaModal modal modal-fixed-header small-modal">
		<div class="modal-header" style="z-index: 6001">
			<h5 class="white-text" style="padding: 15px !important; margin: 0 !important;">Configuration du lien vers un
				réseau social</h5>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right"><i class="material-icons white-text">clear</i></a>
		</div>
		<div class="modal-content ">
			<form class="editSocialMediaForm" id="editSocialMediaForm-{{@id}}">
				<input type="text" name="label" class="displaynone">
				<div class="row">
					<div class="col s6 offset-s3 m2 ">
						<span id="socialMediaImg-{{@id}}"></span>

					</div>

					<div class="input-field col s12 m10">
						<input name="link" type="url"  class="validate grey-text text-darken-3" value="{{@fields['btnValue']['value'] }}">
						<label for="value">Copiez ici le lien de votre page
							<b><span id="socialMediaName-{{@id}}"></span></b></label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 center-align">
						<button type="submit" class="btn frama-orange hover-frama-purple waves-effect waves-light btn">
							<i class="material-icons right">done</i>Valider
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</check>